
    <div class="container-fluid">
        <h1 class="text-center">Wonderful Oceans And Life Within</h1>
        <p class="text-center">The oceans cover more than 70 per cent of the Earth’s surface and the majority of life on Earth is aquatic.</p>
      
        <div class="d-flex flex-wrap justify-content-center">
          <div class="d-flex flex-column">
            <img class="img-fluid" src="../assets/img/aws.jpg">
            <img class="img-fluid" src="../assets/img/awts.jpg">
          </div>
      
          <div class="d-flex flex-column">
            <img class="img-fluid" src="../assets/img/awtsgege.jpg">
            <img class="img-fluid" src="../assets/img/awtsu.jpg">
          </div>
      
          <div class="d-flex flex-column">
            <img class="img-fluid" src="../assets/img/awts.jpg">
            <img class="img-fluid" src="loyd1.jpg">
          </div>
      
          
      
          
        </div>
      </div>
